aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    max-width: 80%;
    height: 100vh;
    background: #f3f1f1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
}

header {
    padding: 1rem;
    background: black;
}

header h1 {
    color: white;
    margin: 0;
}